
body{
    margin: 0%;
    padding: 0%;
    background-image: url(sch.jpg) ;
    background-size: 100% 650px;
    background-repeat: no-repeat;
    background-position: fixed;
}

/* head section */
.logo{
    display:flex;
    flex-direction: row;
    padding: 5px;
    position: absolute;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
    
}
.logo span{
    font-size:8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: grey;
    margin-top: 8px;
}
.head{
    margin:0%;
    /* padding: 4%; */
    width:100%;
    height:100px;
    background-color: rgb(0, 0, 24);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.head ul {
    display: flex;
    justify-content: space-around;
    margin-left: 60%;
    
}
.head ul li {
    list-style-type: none;
    
    
}
.head ul li a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    font-size: 15px;

}

.fa-bars{
    opacity:0;
}
.hom:hover{
    color: blue;
    font-size: 16px;
}
.hom:checked, .abt:hover, .tes:hover, .cot:hover{
    color: blue;
    font-size: 16px;
}



 .about, .Testimonies, .contact {
    width: 100%;
    height: 550px;
   margin-top: -3.3%;
    position: relative;
    
   
}
h2{
    justify-content: space-around;
    align-self: center;
    
    font-size: 50px;
    text-decoration: underline;
    display: flex;
}
/* home section */
.home{
    width: 100%;
    height: 550px;
    background-color: rgba(77, 74, 74, 0.8);
    
    color: white;
    
}
h1{
    position: absolute;
    color: white;
    margin-top: 15%;
    margin-left: 30%;
}
.con{
    width: 100%;
    height: 550px;
    color: white;
    background-color: red;
   position: absolute;
   color: white;

}

/* contact section */
.contact{
    background-color: black;
    height: 150px;
    color:rgb(126, 122, 122);
    position: relative;
}
.contact ul  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.contact h2{
    font-size: 35px;
}
.contact ul li font i {
    color: blue;
    padding: 5px;
    
    
}
.contact ul li font .fa-facebook {
    color: rgb(23, 3, 95);
    font-size: 25px;
}
.contact ul li font .fa-phone {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.contact ul li font .fa-whatsapp {
    color: rgb(5, 77, 2);
    font-size: 30px;
}
.contact ul li font .fa-envelope {
    color: rgb(105, 3, 3);
    font-size: 30px;
}
.contact ul li {
    list-style-type: none;
}
/* about section */
.about{
    background-color: rgb(255, 255, 255);
    position: relative;
    
}
.about h2{
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about em{
    padding-left: 10%;
}
.about em p {
    padding-left: 10%;
}
.about em br {
    padding-left: 10%;
}
/* reviews */
.Testimonies{
    background-image: url(school.jpg);
    background-size: cover;
    overflow: hidden;
    font-size: larger;
    position: relative;
}
.review{
    
    width:180%;
    height: 150px;
   
    
}
.cover{
    background-color: rgba(215, 216, 213, 0.7);
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.review .scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 100%;
    width:100%;
    height: 50px;
    padding: 10px;
    animation: mov  15s infinite;
    
    
    
    
  
    
    
    /* justify-content: space-between; */
}
/* .ade{
    animation: mov  30s ease-in-out infinite;
    
} */

@keyframes mov{
    0%{

    }
  
   
    50%{
        margin-left: -50%;
        
       
    }
    100%{
        margin-left: 5%;
    }

}


.fa-star, .fa-star-half {
    color: rgb(255, 217, 1);
    text-shadow: blanchedalmond;
}
@media (max-width: 750px){
    .fa-bars{
        opacity: 1;
        position: absolute;
        top: 30%;
        left: 90%;
        color: white;
        font-size: 200px;
    }
    .hom, .abt, .tes, .cot{
        opacity: 0;
    }
}
@media (max-width: 500px){
    body{
        margin: 0%;
        padding: 0%;
        background-image: url(sch.jpg) ;
        background-size: 100% 550px;
        background-repeat: no-repeat;
        background-position: fixed;
    }
    .fa-bars{
        opacity: 1;
        position: absolute;
        top: 30%;
        left: 90%;
        color: white;
        font-size: 200px;
    }
    .hom, .abt, .tes, .cot{
        opacity: 0;
    }

    .home{
        width: 100%;
        height: 450px;
        background-color: rgba(77, 74, 74, 0.8);
        margin: 0%;
        position: relative;
    }
    h1{
        position: absolute;
        color: white;
        margin-top: 30%;
        margin-left: 10%;
    }
    .about, .Testimonies, .contact {
        width: 100%;
        height: 450px;
        background-color: grey;
        position: relative;
        /* margin-top: 5px; */
       
    }
    .about em a{
        opacity: 0;
    }
    .contact{
        background-color: black;
        height: 200px;
        color: white;
       
        
    }
    .contact ul{
        display: flex;
        justify-content: center;
        margin-left: 20%;
    }

    .about{
        background-color: white;
    }
    .contact b{
        opacity: 0;
    }
    
}
